{% extends "index.html" %}

{% block body %}

    <div class="container mt-5 mb-5" style="max-width: 1500px;">

        <div class="header-container">
            <h2>All Theses</h2>
            <button href="#" class="btn btn-success" data-toggle="modal" data-target="#newThesisModal">New Thesis</button>
        </div>

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>ThesisID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Language</th>
                    <th>Date</th>
                    <th>Page Count</th>
                </tr>
            </thead>

            <tbody>

                {% for thesis in detailed_theses %}

                    <tr>
                        <td> {{ thesis.thesis_id }} </td>
                        <td> {{ thesis.thesis_title }} </td>
                        <td> {{ thesis.thesis_abstract }} </td>
                        <td> {{ thesis.language }} </td>
                        <td> {{ thesis.submission_date }} </td>
                        <td> {{ thesis.page_num }} </td>
                        
                        <td>
                            <button class="btn btn-secondary" data-toggle="modal" data-target="#detailsThesisModal{{ thesis.thesis_id }}">Details</button>
                        </td>

                        <td>
                            <button class="btn btn-secondary" data-toggle="modal" data-target="#editThesisModal{{ thesis.thesis_id }}">Edit</button>
                        </td>

                        <td>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteThesisModal{{ thesis.thesis_id }}">Delete</button>
                        </td>
                        

                    </tr>


                <!-- NEW THESIS MODAL -->
                <div class="modal fade" id="newThesisModal" tabindex="-1" role="dialog" aria-labelledby="newThesisModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="newThesisModalLabel">Add New Thesis</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/add_thesis" method="post">

                                    <div class="form-group">
                                        <label class="form-label" for="title">Title:</label>
                                        <input class="form-control" type="text" id="title" name="title" required>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="abstract">Abstract:</label>
                                        <textarea class="form-control"  id="abstract" name="abstract" required></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="author">Author:</label>
                                        <select class="form-control" id="author" name="author" required>
                                            {% for author in authors %}
                                                <option value="{{ author[0] }}" selected>{{ author[1] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="language">Supervisors:</label>
                
                                        <select class="form-control" id="supervisors" name="supervisors">
                                        {% for prof in professors %}
                                            <option value="{{ prof[0] }}">{{ prof[1] }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="language">Cosupervisors:</label>
                                        <select class="form-control" id="cosupervisors" name="cosupervisors">
                                        {% for prof in professors %}
                                            <option value="{{ prof[0] }}">{{ prof[1] }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="uni">University:</label>
                                        <select class="form-control" id="uni" name="uni" required>
                                            {% for uni in universities %}
                                                <option value="{{ uni[0] }}">{{ uni[1] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="ins">Institute:</label>
                                        <select class="form-control" id="ins" name="ins" required>
                                            {% for ins in institutes %}
                                                <option value="{{ ins[0] }}">{{ ins[1] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                
                                    <div class="form-group">
                                        <label class="form-label" for="type">Type:</label>
                                        <select class="form-control" id="type" name="type" required>
                                            <option value="Master">Master</option>
                                            <option value="Doctorate">Doctorate</option>
                                            <option value="Specialization in Medicine">Specialization in Medicine</option>
                                            <option value="Proficiency in Art">Proficiency in Art</option>
                                        </select>
                                    </div>
                
                                    <div class="form-group">
                                        <label class="form-label" for="num_pages">Number of Pages:</label>
                                        <input class="form-control" type="number" id="num_pages" name="num_pages" required>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="language">Language:</label>
                                        <select class="form-control" id="language" name="language" required>
                                            <option value="Turkish">Turkish</option>
                                            <option value="English">English</option>
                                            <option value="French">French</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="topics">Subject Topics:</label>
                                        <select class="form-control" id="topics" name="topics">
                                        {% for topic in topics %}
                                            <option value="{{ topic[0] }}">{{ topic[1] }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="keywords">Keywords:</label>
                                        <input class="form-control" type="text" id="keywords" name="keywords">
                                        <small>Please enter keywords separated by comma</small>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="submission_date">Submission Date:</label>
                                        <input class="form-control" type="date" id="submission_date" name="submission_date" required>
                                    </div>
                
                                    <div class="form-submit">
                                        <input class="btn btn-secondary" type="submit" value="Submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF NEW THESIS MODAL -->

                <!-- DETAILS THESIS MODAL -->
                <div class="modal fade" id="detailsThesisModal{{ thesis.thesis_id }}" tabindex="-1" role="dialog" aria-labelledby="detailsThesisModal{{ thesis.thesis_id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="detailsThesisModalLabel{{ thesis.thesis_id }}">Thesis Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><b>ThesisID:       </b>  {{ thesis.thesis_id }}</li>
                                            <li class="list-group-item"><b>Title:          </b>  {{ thesis.thesis_title }}</li>
                                            <li class="list-group-item"><b>Author:         </b>  {{ thesis.author_full_name }}</li>
                                            <li class="list-group-item"><b>Description:    </b>  {{ thesis.thesis_abstract }}</li>
                                            <li class="list-group-item"><b>Supervisor:     </b>  {{ thesis.supervisor_full_name }}</li>
                                            <li class="list-group-item"><b>Co-supervisor:  </b>  {{ thesis.cosupervisor_full_name }}</li>
                                            <li class="list-group-item"><b>Type:           </b>  {{ thesis.thesis_type }}</li>
                                            <li class="list-group-item"><b>University:     </b>  {{ thesis.university_name }}</li>
                                            <li class="list-group-item"><b>Institute:      </b>  {{ thesis.institute_name }}</li>
                                            <li class="list-group-item"><b>Submission Date:</b>  {{ thesis.submission_date }}</li>
                                            <li class="list-group-item"><b>Number of Pages:</b>  {{ thesis.page_num }}</li>
                                            <li class="list-group-item"><b>Year:           </b>  {{ thesis.year }}</li>
                                            <li class="list-group-item"><b>Language:       </b>  {{ thesis.language }}</li>
                                            <li class="list-group-item"><b>Keywords:       </b>  {{ thesis.thesis_keywords }}</li>                    
                                            <li class="list-group-item"><b>Topics:         </b>  {{ thesis.thesis_topics }}</li>                   
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF DETAILS THESIS MODAL -->

                <!-- EDIT THESIS MODAL -->
                <div class="modal fade" id="editThesisModal{{ thesis.thesis_id }}" tabindex="-1" role="dialog" aria-labelledby="editThesisModal{{ thesis.thesis_id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editThesisModalLabel{{ thesis.thesis_id }}">Edit Thesis</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/edit_thesis/{{ thesis.thesis_id }}" method="post">

                                    <div class="form-group">
                                        <label for="form-label" for="thesis_id">ThesisID: </label>
                                        <input class="form-control" type="number" id="thesis_id" name="thesis_id" value="{{ thesis.thesis_id }}" disabled>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="form-label" for="title">Title: </label>
                                        <input class="form-control" type="text" id="title" name="title" value="{{ thesis.thesis_title }}">
                                    </div>    

                                    <div class="form-group">
                                        <label for="form-label" for="description">Description: </label>
                                        <input class="form-control" type="text" id="description" name="description" value="{{ thesis.thesis_abstract }}">
                                    </div>  
                                    
                                    <div class="form-group">
                                        <label for="form-label" for="language">Language: </label>
                                        <select class="form-control" name="language" id="language">
                                            <option value="Turkish" {% if thesis.language == "Turkish" %}selected{% endif %}>Turkish</option>
                                            <option value="English" {% if thesis.language == "English" %}selected{% endif %}>English</option>
                                            <option value="French" {% if thesis.language == "French" %}selected{% endif %}>French</option>
                                        </select>
                                    </div> 

                                    <div class="form-group">
                                        <label for="form-label" for="page_num">Page Count: </label>
                                        <input class="form-control" type="number" id="page_num" name="page_num" value="{{ thesis.page_num }}">
                                    </div> 
                                    
                                    <div class="form-submit">
                                        <input class="btn btn-secondary" type="submit" value="Change">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF EDIT THESIS MODAL  -->

                <!-- DELETE THESIS MODAL -->
                <div class="modal fade" id="deleteThesisModal{{ thesis.thesis_id }}" tabindex="-1" role="dialog" aria-labelledby="deleteThesisModal{{ thesis.thesis_id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteThesisModalLabel{{ thesis.thesis_id }}">Delete Thesis</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this thesis?</p>
                            </div>
                            <div class="modal-footer">
                                <form action="/delete_thesis/{{ thesis.thesis_id }}" method="post">
                                    <input class="btn btn-danger" type="submit" value="Delete">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF DELETE THESIS MODAL  -->

                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
